body {
  margin: 0 auto !important;
  width: 800px;
}

.header {
  height: 100px;
  padding-bottom: 30px;
}

.header ul {
  list-style: none;  
  margin-left: 0;
  padding-left: 0;
}

.header ul li {
  display: inline;
}
